@tailwind base;
@tailwind components;
@tailwind utilities;


@import './homepage';
@import './card';
@import './itemDetail';


html{
    height: 100%;

}

body{
    height: 100%;
}

#root{
    height: 100%;
    
}